## DATA WRANGLING AND CLEANING

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

In [1]:
import pandas as pd
import numpy as np
import os

Create file path and read files also create a DataFrame.

In [2]:
path = "C:\\Users\\Akshay\\Documents\\Data Analyst\\Developer project 1\\survey_results_public.csv"
df = pd.read_csv(path)
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

Let's find *duplicate* values in a dataset

In [4]:
duplicate = df[df.duplicated()]
duplicate

Empty DataFrame
Columns: [ResponseId, MainBranch, Employment, Country, US_State, UK_Country, EdLevel, Age1stCode, LearnCode, YearsCode, YearsCodePro, DevType, OrgSize, Currency, CompTotal, CompFreq, LanguageHaveWorkedWith, LanguageWantToWorkWith, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, PlatformHaveWorkedWith, PlatformWantToWorkWith, WebframeHaveWorkedWith, WebframeWantToWorkWith, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, OpSys, NEWStuck, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOComm, NEWOtherComms, Age, Gender, Trans, Sexuality, Ethnicity, Accessibility, MentalHealth, SurveyLength, SurveyEase, ConvertedCompYearly]
Index: []

[0 rows x 48 columns]

While the survey responses contain a wealth of information, we'll limit our analysis.
Let's select a subset of columns with the relevant data for our analysis.
- Demographic Information
- Education, Work, and Career
- Technology and Tech Culture

In [5]:
selected_columns = ["Country",
                    "Age",
                    "Gender",
                    "Accessibility",
                    "MentalHealth",
                    "MainBranch",
                    "Employment",
                    "EdLevel",
                    "Age1stCode",
                    "DevType",
                    "CompTotal",
                    "CompFreq",
                    "LanguageHaveWorkedWith",
                    "LanguageWantToWorkWith",
                    "DatabaseHaveWorkedWith",
                    "DatabaseWantToWorkWith",
                    "PlatformHaveWorkedWith",
                    "PlatformWantToWorkWith",
                    "WebframeHaveWorkedWith",
                    "WebframeWantToWorkWith",
                    "MiscTechHaveWorkedWith",
                    "MiscTechWantToWorkWith",
                    "ToolsTechHaveWorkedWith",
                    "ToolsTechWantToWorkWith",
                    "NEWCollabToolsHaveWorkedWith",
                    "NEWCollabToolsWantToWorkWith",
                    "OpSys",
                    "NEWStuck"
                   ]

In [6]:
len(selected_columns)

28

In [7]:
df = df[selected_columns].copy()

In [8]:
df.shape

(83439, 28)

Find *Null* values in dataset

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       83439 non-null  object
 1   Age                           82407 non-null  object
 2   Gender                        82286 non-null  object
 3   Accessibility                 77603 non-null  object
 4   MentalHealth                  76920 non-null  object
 5   MainBranch                    83439 non-null  object
 6   Employment                    83323 non-null  object
 7   EdLevel                       83126 non-null  object
 8   Age1stCode                    83243 non-null  object
 9   DevType                       66484 non-null  object
 10  CompTotal                     47183 non-null  float64
 11  CompFreq                      52150 non-null  object
 12  LanguageHaveWorkedWith        82357 non-null  object
 13  LanguageWantToWorkWith        76821 non-null  object
 14  DatabaseHaveWorkedWith        69546 non-null  object
 15  DatabaseWantToWorkWith        58299 non-null  object
 16  PlatformHaveWorkedWith        52135 non-null  object
 17  PlatformWantToWorkWith        41619 non-null  object
 18  WebframeHaveWorkedWith        61707 non-null  object
 19  WebframeWantToWorkWith        52095 non-null  object
 20  MiscTechHaveWorkedWith        47055 non-null  object
 21  MiscTechWantToWorkWith        38021 non-null  object
 22  ToolsTechHaveWorkedWith       72537 non-null  object
 23  ToolsTechWantToWorkWith       65480 non-null  object
 24  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 25  NEWCollabToolsWantToWorkWith  73022 non-null  object
 26  OpSys                         83294 non-null  object
 27  NEWStuck                      83052 non-null  object
dtypes: float64(1), object(27)
memory usage: 17.8+ MB

Most columns have the data type object, either because they contain values of different types or contain empty values (NaN). It appears that every column contains some empty values since the Non-Null count for every column is lower than the total number of rows (83439). We'll need to deal with empty values and manually adjust the data type for each column on a case-by-case basis.

Find unique values in Age column

In [10]:
df["Age"].unique()

array(['25-34 years old', '18-24 years old', '35-44 years old',
       'Prefer not to say', '45-54 years old', 'Under 18 years old',
       '65 years or older', '55-64 years old', nan], dtype=object)

Replace *NaN* with Majority Age group.

In [11]:
majority = df["Age"].value_counts().idxmax()
df["Age"].replace(np.nan,majority,inplace=True)

In [12]:
df["Gender"].value_counts()

Man                                                                                   74817
Woman                                                                                  4120
Prefer not to say                                                                      1442
Non-binary, genderqueer, or gender non-conforming                                       690
Or, in your own words:                                                                  413
Man;Or, in your own words:                                                              268
Man;Non-binary, genderqueer, or gender non-conforming                                   252
Woman;Non-binary, genderqueer, or gender non-conforming                                 147
Man;Woman                                                                                41
Non-binary, genderqueer, or gender non-conforming;Or, in your own words:                 21
Man;Woman;Non-binary, genderqueer, or gender non-conforming                              21
Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:       17
Woman;Or, in your own words:                                                             16
Man;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:             11
Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:            9
Man;Woman;Or, in your own words:                                                          1
Name: Gender, dtype: int64

The gender column also allows for picking multiple options. We'll remove values containing more than one option to simplify our analysis.

In [13]:
df.where(~(df.Gender.str.contains(';|Or, in your own words:', na=False)), np.nan, inplace=True)

In [14]:
df["Gender"].value_counts()

Man                                                  74817
Woman                                                 4120
Prefer not to say                                     1442
Non-binary, genderqueer, or gender non-conforming      690
Name: Gender, dtype: int64

In [15]:
maj_Gender = df["Gender"].value_counts().idxmax()
df["Gender"].replace(np.nan,maj_Gender,inplace=True)

In [16]:
df["Employment"].unique()

array(['Independent contractor, freelancer, or self-employed',
       'Student, full-time', 'Employed full-time', 'Student, part-time',
       'I prefer not to say', 'Employed part-time',
       'Not employed, but looking for work', 'Retired', nan,
       'Not employed, and not looking for work'], dtype=object)

Replace NaN values with Max frequency.

In [17]:
maj_grp = df["Employment"].value_counts().idxmax()
df["Employment"].replace(np.nan,maj_grp,inplace=True)

In [18]:
print(df["EdLevel"].unique())
print(df["Age1stCode"].unique())

['Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)'
 'Other doctoral degree (Ph.D., Ed.D., etc.)'
 'Some college/university study without earning a degree' 'Something else'
 'Professional degree (JD, MD, etc.)' 'Primary/elementary school'
 'Associate degree (A.A., A.S., etc.)' nan]
['18 - 24 years' '11 - 17 years' '5 - 10 years' '25 - 34 years' nan
 '35 - 44 years' 'Younger than 5 years' '45 - 54 years' '55 - 64 years'
 'Older than 64 years']

Replace NaN values with value of a maximum count. Find maximum count using *idxmax()*.

In [19]:
max_count_EdLevel = df["EdLevel"].value_counts().idxmax()
print(max_count_EdLevel)
max_count_Age1stCode = df["Age1stCode"].value_counts().idxmax()
print(max_count_Age1stCode)

Bachelor’s degree (B.A., B.S., B.Eng., etc.)
11 - 17 years

In [20]:
df["EdLevel"].replace(np.nan, max_count_EdLevel, inplace=True)
df["Age1stCode"].replace(np.nan, max_count_Age1stCode, inplace=True)

###### DATA NORMALIZATION

In [21]:
df[["CompFreq","CompTotal"]]

      CompFreq  CompTotal
0      Monthly     4800.0
1          NaN        NaN
2          NaN        NaN
3      Monthly        NaN
4          NaN        NaN
...        ...        ...
83434   Yearly   160500.0
83435  Monthly   200000.0
83436   Weekly     1800.0
83437  Monthly    90000.0
83438  Monthly     7700.0

[83439 rows x 2 columns]

List out the various categories in the column 'CompFreq'.

In [22]:
max_count = df["Country"].value_counts().idxmax()
df["Country"].replace(np.nan, max_count, inplace=True)

In [23]:
df["CompFreq"].value_counts()

Yearly     25454
Monthly    24491
Weekly      1595
Name: CompFreq, dtype: int64

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

In [24]:
df["NormalizedAnnualCompensation"] = np.where(
    df["CompFreq"] == "Weekly",df["CompTotal"]*52,np.where(
    df["CompFreq"] == "Monthly",df["CompTotal"]*12,df["CompTotal"]))
df.head()

,Country,Age,Gender,Accessibility,MentalHealth,MainBranch,Employment,EdLevel,Age1stCode,DevType,...,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NormalizedAnnualCompensation
0,Slovakia,25-34 years old,Man,None of the above,None of the above,I am a developer by profession,"Independent contractor, freelancer, or self-em...","Secondary school (e.g. American high school, G...",18 - 24 years,"Developer, mobile",...,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,57600.0
1,Netherlands,18-24 years old,Man,None of the above,None of the above,I am a student who is learning to code,"Student, full-time","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,NaN,...,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,NaN
2,Russian Federation,18-24 years old,Man,None of the above,None of the above,"I am not primarily a developer, but I write co...","Student, full-time","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,NaN,...,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,NaN
3,Austria,35-44 years old,Man,I am deaf / hard of hearing,NaN,I am a developer by profession,Employed full-time,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Developer, front-end",...,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,NaN
4,United Kingdom of Great Britain and Northern I...,25-34 years old,Man,None of the above,NaN,I am a developer by profession,"Independent contractor, freelancer, or self-em...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,"Developer, desktop or enterprise applications;...",...,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,NaN

We've now cleaned up and prepared the dataset for analysis. Let's take a look at a sample of rows from the data frame.

In [25]:
df.sample(10)

,Country,Age,Gender,Accessibility,MentalHealth,MainBranch,Employment,EdLevel,Age1stCode,DevType,...,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NormalizedAnnualCompensation
74801,Ethiopia,Under 18 years old,Man,None of the above,NaN,I am a student who is learning to code,"Student, part-time",Primary/elementary school,11 - 17 years,NaN,...,NaN,NaN,NaN,NaN,NaN,PyCharm;Sublime Text;Visual Studio Code,PyCharm;Sublime Text;Visual Studio Code,Windows Subsystem for Linux (WSL),Visit Stack Overflow;Google it;Watch help / tu...,NaN
29573,Netherlands,25-34 years old,Man,None of the above,None of the above,I am a developer by profession,Employed full-time,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Developer, mobile;Developer, front-end;Develop...",...,Angular;Django;Express;jQuery;Laravel;React.js...,.NET Framework,NaN,Chef;Docker;Git;Unity 3D;Unreal Engine;Yarn,Ansible;Chef;Deno;Docker;Git;Kubernetes;Unity ...,Android Studio;IntelliJ;Notepad++;PHPStorm;PyC...,Android Studio;IntelliJ;Notepad++;PHPStorm;PyC...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,45000.0
32942,India,35-44 years old,Man,None of the above,I have a concentration and/or memory disorder ...,I am a developer by profession,Employed full-time,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Developer, back-end",...,NaN,NaN,NaN,Git,Git,Eclipse;Notepad++,Eclipse;Notepad++,Windows,Call a coworker or friend;Visit Stack Overflow...,2300000.0
62042,Guatemala,35-44 years old,Man,None of the above,None of the above,I am a developer by profession,Employed full-time,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,"Developer, full-stack;Developer, back-end;DevO...",...,Ruby on Rails,NaN,NaN,Ansible;Docker;Git;Terraform,Ansible;Docker;Git;Kubernetes;Terraform,Vim;Xcode,Vim,Linux-based,Visit Stack Overflow;Google it,76440.0
30443,Australia,45-54 years old,Man,NaN,NaN,I am a developer by profession,Employed full-time,"Other doctoral degree (Ph.D., Ed.D., etc.)",11 - 17 years,"Developer, full-stack;DevOps specialist",...,Angular;Express,.NET Framework;Cordova,.NET Framework;.NET Core / .NET 5,Docker,NaN,Visual Studio;Visual Studio Code,Visual Studio Code,Windows,Google it,NaN
15424,"Iran, Islamic Republic of...",18-24 years old,Man,None of the above,None of the above,I am a developer by profession,"Student, part-time","Secondary school (e.g. American high school, G...",5 - 10 years,NaN,...,Django;jQuery;Laravel;Vue.js,NaN,NaN,Ansible;Docker;Git;Unity 3D,Ansible;Docker;Git;Unity 3D,Android Studio;IntelliJ;PHPStorm;PyCharm,Android Studio;IntelliJ;PHPStorm;PyCharm;Xcode,Linux-based,Visit Stack Overflow;Google it;Do other work a...,NaN
29940,United States of America,35-44 years old,Man,None of the above,None of the above,"I am not primarily a developer, but I write co...",Employed full-time,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,"Developer, desktop or enterprise applications;...",...,NaN,NumPy;Pandas,NumPy;Pandas,NaN,NaN,IPython/Jupyter;PyCharm,IPython/Jupyter;PyCharm,Windows,Visit Stack Overflow;Go for a walk or other ph...,600000.0
68416,Germany,25-34 years old,Man,None of the above,None of the above,I am a developer by profession,Employed full-time,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Developer, front-end;Developer, full-stack;Dat...",...,Angular;ASP.NET;ASP.NET Core ;Django;Express;R...,.NET Framework;.NET Core / .NET 5;Cordova;Kera...,.NET Framework;.NET Core / .NET 5;Apache Spark...,Docker;Git;Yarn,Docker;Git;Kubernetes;Unreal Engine,Android Studio;Atom;Eclipse;Emacs;IntelliJ;IPy...,Eclipse;Emacs;IntelliJ;IPython/Jupyter;Notepad...,Windows,Call a coworker or friend;Visit Stack Overflow...,50000.0
77554,Japan,25-34 years old,Man,None of the above,I have a concentration and/or memory disorder ...,I am a developer by profession,"Independent contractor, freelancer, or self-em...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Developer, mobile;Developer, full-stack;Senior...",...,ASP.NET Core ;Vue.js,.NET Core / .NET 5,.NET Core / .NET 5;Flutter,Git;Xamarin,Git,Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,NaN
33156,India,18-24 years old,Man,None of the above,None of the above,I am a student who is learning to code,"Student, full-time","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,NaN,...,Angular;Angular.js;Django;Express;jQuery;Larav...,Flutter;Hadoop;Keras;NumPy;Pandas;Qt;React Nat...,Flutter;Hadoop;Keras;NumPy;Pandas;Qt;React Nat...,Docker;Kubernetes;Unity 3D;Unreal Engine;Yarn,Docker;Kubernetes;Unity 3D;Unreal Engine;Xamar...,Android Studio;Atom;Eclipse;IntelliJ;IPython/J...,Android Studio;Atom;IntelliJ;IPython/Jupyter;N...,Windows Subsystem for Linux (WSL),Call a coworker or friend;Visit Stack Overflow...,NaN

In [26]:
df.to_csv("C:\\Users\\Akshay\\Documents\\Data Analyst\\Developer project 1\\Cleaned_Data.csv")

### Thank You :)